{% extends 'password_generator/base.html' %}

<!-- Confirm Delete -->
{% block app %}
<div id="confirm_delete" class="py-5 px-2">
    <div class="container">
        <form class="d-flex flex-column align-items-center col-md-9 mx-auto">
            {% csrf_token %}
            <h1 class="display-6 mb-4 text-danger text-center">
                Are you sure you want to delete "<span
                    >{{ password.site_name | truncatechars:20 }}</span
                >"?
            </h1>
            <d class="d-flex">
                <input
                    type="submit"
                    class="btn btn-danger btn-lg me-3"
                    value="Delete" />
                <a href="{% url 'detail' password.id %}" class="fs-4 link-info">
                    Go back
                </a>
            </d>
        </form>
    </div>
</div>
{% endblock app %}
