{% extends 'password_generator/base.html' %}

<!-- Password Detail -->
{% block app %}
<div id="detail" class="py-5 px-2">
    <div class="container">
        <div class="d-flex flex-column mx-auto">
            <div
                class="d-flex display-6 mb-3 align-items-md-start flex-column flex-md-row">
                <h1
                    class="me-3 fw-semibold"
                    style="overflow-x: auto; overflow-y: hidden">
                    {{ object.site_name }}:
                </h1>
                <p style="overflow-x: auto; overflow-y: hidden">
                    {{ object.password }}
                </p>
            </div>

            <div class="d-flex mb-2">
                <a
                    href="{% url 'edit' object.id %}"
                    class="btn btn-warning fs-4 me-3">
                    Edit
                </a>
                <a
                    href="{% url 'delete' object.id %}"
                    class="btn btn-danger fs-4"
                    >Delete</a
                >
            </div>
            <p class="lead">{{ object.created | date:"j/n/Y, g:i A" }}</p>
        </div>
    </div>
</div>
{% endblock app %}
