{% extends 'password_generator/base.html' %}

<!-- Edit Password -->
{% block app %}
<div id="edit_password" class="py-5 px-2">
    <div class="container">
        <div class="d-flex flex-column align-items-center col-md-6 mx-auto">
            <h1 class="display-6 mb-5 text-center">Edit Password</h1>
            <form
                method="POST"
                class="d-flex flex-column align-items-center w-100">
                {% csrf_token %}
                <div class="form-floating mb-4 w-100 fs-5">
                    <input
                        type="text"
                        name="site_name"
                        class="form-control fs-5"
                        id="site"
                        value="{{ form.site_name.value }}"
                        placeholder="example.com" />
                    <label for="site">Website</label>
                    {% for error in form.site_name.errors %}
                    <p class="text-danger mb-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-floating mb-4 w-100 fs-5">
                    <input
                        type="password"
                        name="password"
                        class="form-control fs-5"
                        id="password"
                        value="{{ form.password.value }}"
                        placeholder="password" />
                    <label for="password">Password</label>
                    {% for error in form.password.errors %}
                    <p class="text-danger mb-1">{{ error }}</p>
                    {% endfor %}
                </div>
                <input
                    type="submit"
                    class="btn btn-primary btn-lg w-100"
                    value="Update Password" />
            </form>
        </div>
    </div>
</div>
{% endblock app %}
