{% extends 'password_generator/base.html' %}

<!-- App -->
{% block app %}
<div id="home" class="px-2 h-100" style="margin-top: -1rem">
    <div class="container-fluid h-100">
        <div
            class="d-flex flex-column align-items-center justify-content-center w-100 h-100">
            <h1 class="mb-5 mt-0 display-5 text-center">
                Welcome to <span class="text-nowrap">MasterPass :)</span>
            </h1>
            <a href="{% url 'create' %}" class="btn btn-info btn-lg fw-semibold"
                >Start Creating Passwords</a
            >
        </div>
    </div>
</div>
{% endblock app %}
