{% extends 'password_generator/base.html' %}

<!-- Create password -->
{% block app %}
<div id="create_password" class="py-5 px-2">
    <div class="container">
        <div class="d-flex flex-column align-items-center col-md-6 mx-auto">
            <h1 class="display-6 mb-5 text-center fw-semibold">
                Create An Account
            </h1>
            <form
                method="POST"
                class="d-flex flex-column align-items-center w-100">
                {% csrf_token %}
                <div class="mb-4 w-100">
                    {% for error in form.username.errors %}
                    <p class="text-danger mb-1">{{ error }}</p>
                    {% endfor %}
                    <input
                        type="text"
                        name="username"
                        class="form-control fs-5 mb-1"
                        id="username"
                        placeholder="Username" />
                    {{ form.username.help_text | safe }}
                </div>

                <div class="mb-4 w-100">
                    {% for error in form.password1.errors %}
                    <p class="text-danger mb-1">{{ error }}</p>
                    {% endfor %}
                    <input
                        type="password"
                        name="password1"
                        class="form-control fs-5 mb-1"
                        id="password1"
                        placeholder="Password" />
                    {{ form.password1.help_text | safe }}
                </div>

                <div class="mb-4 w-100">
                    {% for error in form.password2.errors %}
                    <p class="text-danger mb-1">{{ error }}</p>
                    {% endfor %}
                    <input
                        type="password"
                        name="password2"
                        class="form-control fs-5 mb-1"
                        id="password2"
                        placeholder="Confirm Password" />
                    {{ form.password2.help_text | safe }}
                </div>

                <input
                    type="submit"
                    class="btn btn-info btn-lg fw-semibold w-100 mb-2"
                    value="Sign Up" />
                <p class="fs-5">
                    Already have an account?
                    <a href="{% url 'login' %}">Login</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock app %}

<form action="" method="post">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="login" />
    <p>already have an account? <a href="{% url 'login' %}">login</a></p>
</form>
